body {
  background-color: #ffe6ee;
  /* background-color: black; */
}

h4 {
  /* background-color: rgba(0,0,155,0.8); */
  background-color: rgba(200,30,30,0.2);
  color: black;
  border:solid;
  border-width:1px;
  width:50%;
  border-color:rgba(200,30,30,0.2);
}
/* p{
  background-color: rgba(200,30,30,0.2);
  color:rgb(10,10,100);
  /* border: dashed;
  border-top: dotted;
  border-left: dashed;
  border-right: dashed;
  border-bottom: solid;
  border-width: 2px;
  border-color: red;
} */
hr {
  border-color: rgba(200,30,30,0.2);
}
th {
  background-color: rgba(200,30,30,0.2);
}
table {
  border-color: red;
}
